

  <!--Desktop NavBar-->  
  <div class="desktop">
 <nav class="navbar navbar-expand-sm bg-body-tertiary fixed-top px-20 shadow-sm" data-bs-theme="dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Assignment App</a>

  </div>
</nav> 
</div>



<!-- Mobile NAVBAR -->
 <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top px-20 shadow-sm d-md-none" data-bs-theme="dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Assignment App</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mt-3">
           <a class="nav-link " routerLink="/home" ><i class="bi bi-grid"></i> Dashboard</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/"><i class="bi bi-box-seam"></i> Inventory</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" routerLink="/orders"><i class="bi bi-bag"></i> Orders</a>
        </li> -->
      </ul> 
  
    </div>
  </div>
</nav> 
