main {
  margin-left: 240px;
  padding: 25px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  /* .sidebar { display: none; } */
  main {
    margin-left: 0;
    padding: 15px;
  }

  /* .mobile-nav { display: flex; } */
}
